.account {
  color: #8ae7ca;
  background-color: #564c89;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5em;
  cursor: pointer;
}

.account:hover {
  background-color: #6c61a7;
}
