body,
body * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
  outline-style: none;
  color: inherit;
}

a:active,
a:focus {
  -moz-outline-style: none;
  outline-style: none;
  outline: 0;
  border: none;
}
