.navbar {
  display: flex;
  flex-direction: row;
  background-color: #8ae7ca;
  height: 70px;
  width: 100%;
  padding-left: 100px;
  color: #4d4d4d;
}

.navbar-link {
  display: block;
  border-bottom: 7px solid transparent;
  padding: 25px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  font-weight: bold;
}

.navbar-link:hover {
  border-bottom: 7px solid #8b82b9;
  color: black;
}

.navbar .selected {
  border-bottom: 7px solid #8b82b9;
  color: black;
}

.navbar-info {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar-info button {
  cursor: pointer;
  margin-right: 20px;
  height: 100%;
}

.navbar-info button:hover {
  color: black;
}
