@import "../../scss-config/variables";

.navbar {
  display: flex;
  flex-direction: row;
  background-color: $light-color;
  height: 70px;
  width: 100%;
  padding-left: 100px;
  padding-right: 20px;
  color: rgb(77, 77, 77);

  &-link {
    display: block;
    border-bottom: 7px solid transparent;
    padding: 25px;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    font-weight: bold;
  }

  &-link:hover {
    border-bottom: 7px solid $dark-color;
    color: black;
  }

  .selected {
    border-bottom: 7px solid $dark-color;
    color: black;
  }

  &-info {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
    color: black;

    button {
      cursor: pointer;
      margin-right: 20px;
      height: 100%;
    }
    button:hover {
      color: rgb(50, 49, 49);
    }
  }
}
