.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(18, 18, 18, 0.664);
  width: 100vw;
  height: 100vh;
  &.hidden {
    background-color: transparent;
    animation: none;
  }
  animation: appear 1s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
}
